#btnStartGame {
    -fx-background-color: #20c997;
    -fx-background-radius: 25px;
    -fx-text-fill: #503D28;
}

#filedName {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-background-color: #3a3b3c;
    -fx-text-fill: white;
}

#introPane {
    -fx-background-image: url("../../img/backgroundMain.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}

.btnChoice {
    -fx-background-color: #503D28;
    -fx-background-radius: 7px;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: #E9B470;
    -fx-border-color: #E9B470;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
#scrollPane {
    -fx-background-color: Black;

}

#gridSelect {
    -fx-background-color: Black;
}

.scroll-bar:horizontal {
    -fx-background-color: black;
    -fx-background-insets: 0, 1;
}



